* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100%;
    background-color: #FF6F61;
    font-family: Helvetica, sans-serif;
}

.title {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 35px;

}

.points {
    color: black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.points h2 {
    font-size: 25px;

}

.points p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.intro {
    Text-align: center;
    padding: 10px;
}