* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100%;
    background-color: #FF6F61;
    font-family: Helvetica, sans-serif;
}

.title {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 35px;

}

.points {
    color: black;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.points h2 {
    font-size: 30px;

}

.points p {
    text-align: center;

    font-size: 25px;
}

.player-points {
    text-align: center;
    font-size: 15px;
}

.start {
    Text-align: center;
    padding: 30px;
}

.start button,
.options button {
    width: 140px;
    height: 60px;
    background: none;
    color: white;
    background-color: darkgreen;
    font-size: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}


.options,
.hands {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.player {
    transform: rotateY(180deg);
}